.component-review {
    padding: 20px;
    p.section-header {
        margin: 0 0 15px;
        font-size: 15px;
        font-weight: 400;
    }
    .component-section {
        color: #a7a7a7;
        margin: 0;
    }
    .component-name {
        margin: 10px 0;
    }
    .component-description {
        margin: 10px 0;
        font-weight: 400;
    }
    .component-examples {
        .code-card-wrapper {
            margin-bottom: 10px;
        }
    }
}