.master_page_container {
    display: flex;
    flex-direction: column;
}

.master_page_content {
    margin: 0;

    transition: margin 2s ease;
}

.component_drawer_open {
        margin-left: 30%;
}

.master_page_component_view {
    padding: 0 20px;
}


a {
    text-decoration: none;
}