.library-_-code-card-wrapper {
  position: relative;
  font-family: monospace;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .15);
  padding: 10px;
  box-shadow: inset 1px 1px 9px -4px rgba(0, 0, 0, .55);
  letter-spacing: 0.03em;

  > pre {
    margin: 0;
    word-break: break-word;
    white-space: pre-wrap;
  }
}