<html>
    <head>
        <meta charset="UTF-8">
		<meta name="fragment" content="!">
        <title>React Bibliotheca</title>
        <meta name="description" content="Dynamic React components library">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="client/index.css">
    </head>
    <body>
        <div id="bibliotheca_root">
        </div>
    <body>
        <script src="/vendors/underscore/underscore-min.js"></script>
        <script>
            window.libraryConfiguration = <%-JSON.stringify(configuration)%>
        </script>
        <script src="/userdata/index.js"></script>
        <script src="/client/index.js" defer></script>
</html>