<html>
    <head>
        <meta charset="UTF-8">
		<meta name="fragment" content="!">
        <title>React Bibliotheca</title>
        <meta name="description" content="Dynamic React components library">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="client/index.css">
    </head>
    <body>
        <div id="bibliotheca_root">
        </div>
    <body>
        <script src="/vendors/underscore/underscore-min.js"></script>
        <script src="/vendors/react/dist/react.min.js"></script>
        <script src="/vendors/react-dom/dist/react-dom.min.js"></script>
        <script src="/vendors/react-router-dom/umd/react-router-dom.min.js"></script>
        <script src="/vendors/prop-types/prop-types.min.js"></script>
        <script src="/client/index.js" defer></script>
</html>