<html>
    <head>
        <link rel="stylesheet" href="client/index.css">
        Bibliotecha
    </head>
    <body>
        <div id="bibliotecha_root">
        </div>
    <body>
        <script src="client/index.js"></script>
</html>