.accordion_container {
    user-select: none;
    cursor: pointer;
    position: relative;

    .accordion_content_container {
        max-height: 0;
        transition: all 0.3s cubic-bezier(0, 1.05, 0, 1);
        overflow: hidden;
    }

    .accordion_title {
        position: relative;
    }

    .accordion_title:after {
        $chevron-size: 7px;
        position: absolute;

        top: 2px;
        right: 0;
        width: $chevron-size;
        height: $chevron-size;
        
        content: "";
        transition: all 0.3s ease;  
        font-size: 20px;
        transform: rotate(-45deg);
        font-weight: 100;
        border-bottom: 2px solid darkgray;
        border-left: 2px solid darkgray;
        border-bottom-left-radius: 1px;
    }

    &.accordion_open {
        .accordion_content_container {
            max-height: 1000px;
            transition: all 0.3s cubic-bezier(1, 0, 1, 0);
        }

        .accordion_title:after {
            margin-top: 2px;
            transform: rotate(-225deg);
        }
    }
}