.raised-button {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    button {
        border: 0;
        border-radius: 2px;
        display: inline-block;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        padding: 0px;
        outline: none;
        line-height: 24px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        background-color: rgb(0, 188, 212);
        &:hover,
        &:focus {
            background-color: rgba(0, 188, 212, 0.4);
        }
        span {
            font-size: 13px;
            font-weight: 500;
            user-select: none;
            padding-left: 12px;
            padding-right: 12px;
            color: rgb(255, 255, 255);
        }
    }
}