.bibliotheca-component-review {
    padding: 20px;
    p.bibliotheca-section-header {
        margin: 0 0 15px;
        font-size: 15px;
        font-weight: 400;
    }
    .bibliotheca-component-section {
        color: #a7a7a7;
        margin: 0;
    }
    .bibliotheca-component-name,
    .bibliotheca-component-description {
        margin: 10px 0;
        font-weight: 400;
    }
    .bibliotheca-component-content {
        min-height: 150px;
        padding: 15px 10px;
    }
}