.modal-container {
    position: fixed;
    left: 50%;
    top: 50%;

    min-height: 500px;
    min-width: 300px;
    padding: 5px 30px;

    z-index: 9999;

    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0px 0px 0 1000px rgba(0,0,0, 0.3);

    .modal-close-button {
        position: absolute;

        right: 5px;
        top: 5px;

        padding: 10px;

        cursor: pointer;

        &:after {
            content: "\00D7";
        }
    }
}