.bibliotheca-component-example {
    .bibliotheca-example-title {
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
    }
    .bibliotheca-code-card-frame {
        position: relative;
    }
    .bibliotheca-try-it-button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    .bibliotheca-code-card-wrapper {
        padding-right: 60px;
    }
}