.component-example {
    .example-title {
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
    }
    .code-card-frame {
        position: relative;
    }
    .try-it-button {
        position: absolute;
        top: 0;
        right: 0;
    }
    .code-card-wrapper {
        padding-right: 60px;
    }
}