.library-_-component-params {
    display: flex;
    flex-wrap: wrap;
    .library-_-param-name {
        margin: 0 0 10px;
        font-size: 15px;
        font-weight: 600;
    }
    .library-_-component-params-selector {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .library-_-text-field,
    .library-_-menu-item {
        width: 150px;
    }

    .library-_-menu-item {
        white-space: normal;
        word-break: break-word;
        word-wrap: break-word;
    }
}