.bibliotheca-component-params {
    display: flex;
    flex-wrap: wrap;
    .bibliotheca-param-name {
        margin: 0 0 10px;
        font-size: 15px;
        font-weight: 600;
    }
    .bibliotheca-component-params-selector {
        margin-right: 15px;
        margin-bottom: 15px;
    }
}